<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteRule ^([A-Za-z0-9]+)\/?$ plus/list.php?tid=$1
  RewriteRule ^([A-Za-z0-9]+)\/([0-9]+).html$ plus/view.php?aid=$2
  RewriteRule ^([A-Za-z0-9]+)/list_([0-9]+)_([0-9]+)\.html$ plus/list.php?tid=$1&TotalResult=$2&PageNo=$3
</IfModule>