


fieldset, img {
	border:0;
}
ol, ul {
	list-style:none;
}


.l, .col-l, .col-c, .imgtxt span img, .ul-imgtxt li span img {
	float:left;
}
.r, .col-r, dt span, .ul-txt li span {
	float:right;
}


.fix {
*zoom:1;
}
.fix:after, .fix:before {
	display:block;
	content:"clear";
	height:0;
	clear:both;
	overflow:hidden;
	visibility:hidden;
}
.z {
	_zoom:1;
}


/* 通用模块 -------------------------------------------------- */

/* 布局 =layout*/

/* 头部 */

.nv{
	width:100%; height:30px;
	margin-left:500px; 
	margin: 0 auto;
	position:relative;
	top:-20px;
	left:100px;
	}
	
.nv ul{width:100%; height:51px;
	margin: 0 auto;}	

.nv ul li {
	
	margin-left:10px; 
	float: left;
	line-height: 10px;
	position:relative;
}
.nv ul li a {color:#FFFFFF;}

.nv ul li.cur a, .nv ul li.hover a {
	color:#FF83FA;
}
.nv ul li a {
	font-size: 18px;
	line-height:23px;
	padding:0 19px;
	margin:32px 0;
	display: block;
}
.subnav {
	float: left;
	display:none;
	position:absolute;
	width:100%;
	text-align:center;
	z-index:2;
	background-color:#050505;
	padding:20px 0;
	left:-10px;
}
.subnav:before {
	display:block;
	content:"◆";
	font-family:simsun;
	font-size:30px;
	color:#f4f4f4;
	line-height:1;
	position:absolute;
	top:-15px;
	left:50%;
	margin-left:-15px;
}
.nv ul li .subnav a {
	font-size:14px;
	line-height:30px;
	margin:0;
	color:#FFFFFF;
}
.nv ul li .subnav a:hover {
	background-color:#e4e4e4;
	color:#FF83FA;
}

